
.container{
    display:flex;
    flex-flow: column;
    margin: 0 auto;
    background: white;
    width: 50%;
    padding-bottom: 50px;
    margin-top: 20px;
    width: 600px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    gap:9px;
    margin-top: 30px;
}

.text{
    color: Green;
    font-size: 48px;
    font-weight: 800px;
}

.underline{
    width: 50px;
    height: 5px;
    background-color: green;
    border-radius: 4px;
}

.inputs{
    display:flex;
    margin-top: 55px;
    flex-direction: column;
    gap: 20px;
}

.input{
    display:flex;
    align-items: center;
    margin: 0 auto;
    width: 480px;
    height: 90px;
    background-color: gainsboro;
    border-radius: 5px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background:transparent;
    border: none;
    outline: none;
    color: greenw;
    font-size: 20px;
}
    w
.forgotPassword{
    display: flex;
    justify-content: center;
    margin-top:27px;
    color: gray;
    font-size: 18px;;
}

.forgotPassword span{
    color: green;
    cursor: pointer;
}

.submitContainer{
    display: flex;
    flex-flow: row;
    gap: 30px;
    margin: 60px auto;
    
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: green;
    border-radius: 50px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.gray{
    background: gainsboro;
    color: gray;
}